body {
    color: #31261A;
}

ul {
    list-style-type: none;
}

.button {
    color: #FAF4EA;
    background-color: #819B57;
    border: 2px solid #819B57;
    border-radius: 8px;
}

.button:hover {
    color: #465929;
    background-color: transparent;
}

.link {
    color: #FAF4EA;
}

.link:hover {
    color: #819B57;
}

.hero-title {
    color: #FAF4EA;
}

.hero-title .accent {
    color: #819B57;
}

.advantages-list {
    color: #FAF4EA;
    background-color: #819B57;
}

.section-title {
    color: #31261A;
}

.section-title .accent {
    color: #465929;
}